
header {

  background-color: #404;

  color: whitesmoke;

  text-align: center;

  padding: 20px;
}
header h1 {

  margin: 0;

  font-size: 2.5em;

  color: ;
}
body {

   font-family: Arial, sans-serif;

   margin: 0;

   padding: 0;

   background-color: #1A202C;

   color: whitesmoke;

}
footer {

  background-color: #404;

  color: whitesmoke ;

  text-align: center;

  padding: 10px;

  position: fixed;

  bottom: 0;

  width: 100%;

}